/IDP/build
/IDP/dist
/TermAdmin/build
/TermAdmin/dist
/TermBrowser/build
/TermBrowser/dist
/TermServer/build
/TermServer/dist
/IDP/nbproject/private/private.xml
/TermAdmin/nbproject/private/private.xml
/TermBrowser/nbproject/private/private.xml
/TermServer/nbproject/private/private.xml