/*
body,table
{
  font-family: geneva,arial,helvetica,sans-serif; 
  font-size:13px;
}

h1,h2,h3,h4,h5,h6
{
  color: #fe5a00;
}

h4
{
  display: inline;
}

.abbildung
{
  color:#0000A0;
  font-size:12px;
}

*/